* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one{
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%); 
}

.sec {
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
    

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 50px;
}
.btn{
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
 }
 .container-main{
    
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
 }
